.home {
  text-align: center;
  padding:12rem;
  background-color: rgb(30, 25, 125);
}

.room-viewport {
  width: 99.9vw;
  height: 99.9dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: black;
}

.room-wrapper {
  position: relative;
  flex-shrink: 0;
  overflow: visible;
}

.room {
  width: 100vw;
  height: 100dvh;
  box-sizing: border-box;

  text-align: center;
  background-color: rgb(100, 100, 100);

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.room-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 400px;
  margin: 2rem auto;
}

.room-button {
  padding: 2rem;
  font-size: 1rem;
  cursor: pointer;

  height: 140px;
  border: 3px solid white;
  border-radius: 12px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.bedroom-button {
  background-image: url("@/assets/generic_bedroom.jpg");
}

.living-room-button {
  background-image: url("@/assets/generic_living_room.jpg");
}

.kitchen-button {
  background-image: url("@/assets/generic_kitchen.png");
}

.bathroom-button {
  background-image: url("@/assets/generic_bathroom.jpg");
}
